.acf-banner_manager-no-label {
    .acf-label {
        display: none;
    }
}

.acf-banner_manager-setting-notice {
    display: flex;
    align-items: center;
    padding: 10px;

    &.--warn {
        background: rgba(yellow, .1);
    }

    &.--info {
        background: rgba(blue, .1);
    }

    &.--error {
        background: rgba(red, .1);
    }

    span {
        padding-left: 10px;
        padding-right: 10px;
    }

    .dashicons {
        padding-right: 0;
    }

    p {
        margin: 0;
    }
}

.acf-banner_manager-heading {
    .acf-label {
        font-size: 16px;
        // text-transform: uppercase;
        letter-spacing: .05em;

        &:after {
            content: "";
            display: block;
            width: 40px;
            height: 2px;
            margin-top: 2px;
            background: currentColor;
        }
    }

    .acf-input {
        code {
            font-size: 11px;
        }
    }
}

.acf-banner_manager-additional-merge-tags {
    margin-top: 30px;
}

.acf-banner_manager-inline-true_false {
    display: flex;

    .acf-label {
        flex-grow: 1;
    }

    .acf-input {
        min-width: 120px;
        align-self: center;
        text-align: right;
    }
}

.acf-banner_manager-tooltip {
    .dashicons {
        font-size: 14px;
        vertical-align: middle;
        color: #aeaeae;
    }
}

.dashicons-woocmmerce:before {
    font-family: WooCommerce !important;
    content: '\e03d';
}

// --------------------------------------------------------------------------
// Tab
// --------------------------------------------------------------------------
.acf-fields.-sidebar > .acf-tab-wrap.-left .acf-tab-group li {
    [data-key^='field_acf-banner_manager-'] {
        display: flex;
        align-items: center;

        .dashicons {
            font-size: 16px;
            margin-right: 5px;
            width: 16px;
            height: 16px;
        }
    }

    [data-key^='field_acf-banner_manager-heading_tab-'] {
        border-top: 3px solid #dedede;
        font-weight: 600;

        .dashicons {
            color: #222;
        }
    }

    [data-key^='field_acf-banner_manager-indent_tab-'] {
        padding-left: 30px;
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    [data-key^='field_acf-banner_manager-disabled_tab-'] {
        pointer-events: none;
        user-select: none;
        padding-left: 30px;
        font-style: italic;
        color: #cecece;
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

// --------------------------------------------------------------------------
// Special True False
// --------------------------------------------------------------------------
.acf-banner_manager-warning {
    position: absolute;
    left: 115%;
    top: 50%;
    transform: translatey(-50%);
    color: #cc0000;
    margin: 0;
    white-space: nowrap;
}
